.container{
    display: grid;
    grid-template-areas:
            "name lastSeance"
            "status status"
            "location location";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;

    border: green solid 2px;
    max-width: 800px;
}

.container > div{
    border: aqua solid 2px;

}

.container__item_name{
    grid-area: name;
    font-size: 32px;
    padding: 5px 0 0 20px;
}

.container__item_lastSeanceDate{
    grid-area: lastSeance;
    font-size: 14px;

    color: gray;
    text-align: right;
    padding: 15px 20px 0 0;
}

.container__item_status{
    grid-area: status;
    font-size: 20px;
    padding: 5px 0 0 20px;
    overflow: hidden;
}

.container__item__location{
    grid-area: location;
    font-size: 24px;
    padding: 5px 0 0 20px;
}

